<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
    <th:block th:include="fragments.html :: tagify-head"></th:block>
</head>
<style>
    .tagify--outside{
        border: 0;
    }

    .tagify--outside .tagify__input{
        order: -1;
        flex: 100%;
        border: 1px solid var(--tags-border-color);
        margin-bottom: 1em;
        transition: .1s;
    }

    .tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
    .tagify--outside.tagify--focus .tagify__input{
        transition:0s;
        border-color: var(--tags-focus-border-color);
    }
</style>
<body id="page-top">
<nav th:replace="fragments.html :: main-nav"></nav>
<section>
    <div class="container">
        <div th:replace="fragments.html :: profile-header"></div>
        <nav th:replace="fragments.html :: setting-menu(currentMenu = 'category')"></nav>
        <div class="row justify-content-center">
            <div class="col-md-8 col-12 mt-3">
                <p>관심 물건 카테고리를 입력해주세요. <br><a th:href="@{/setting/station}">설정한 동네</a>에 내가 관심물건으로 설정한 카테고리 물건 판매글이 올라오는 경우 알림을 받으실 수 있습니다.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="whitelist" th:text="${whitelist}" hidden></div>
            <input name='tags-outside' class='col-md-8 col-12 tagify--outside' th:value="${#strings.listJoin(categories, ',')}">
        </div>
    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>
<div th:replace="fragments.html :: basic-script"></div>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script th:replace="fragments.html :: form-validation"></script>
<script>
    $(document).ready(function(){
        function tagRequest(url, categoryName) {
            var form = {title: categoryName};
            $.ajax({
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                url: "/setting/category" + url,
                type: "POST",
                data: form,
            });
        }

        function onAdd(e) {
            tagRequest("/add", e.detail.data.value);
        }

        function onRemove(e) {
            tagRequest("/remove", e.detail.data.value);
        }

        var input = document.querySelector('input[name=tags-outside]')

        // init Tagify script on the above inputs
        var tagify = new Tagify(input, {
            whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
            dropdown: {
                position: "input",
                enabled : 0 // always opens dropdown when input gets focus
            }
        });

        tagify.on("add", onAdd);
        tagify.on("remove", onRemove);
    });
</script>
</body>
</html>
