<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<section>
    <div class="container">
        <div th:replace="fragments.html :: profile-header"></div>
        <nav th:replace="fragments.html :: setting-menu(currentMenu = 'password')"></nav>
        <div th:replace="fragments.html :: message"></div>
        <div class="row justify-content-center mt-3">
            <form class="form col-md-8 col-12 needs-validation" th:action="@{/setting/password}" method="post" th:object="${passwordForm}" novalidate>
                <div class="form-group row">
                    <label for="currentPassword" class="col-lg-3 col-4 col-form-label">기존 비밀번호</label>
                    <div class="col">
                        <input type="password" class="form-control" id="currentPassword" th:field="*{currentPassword}">
                        <small class="row form-text text-danger invalid-feedback ml-0">
                            길이가 8에서 20 사이여야 합니다
                        </small>
                        <small class="row form-text text-danger ml-0" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">
                            currentPassword Error
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPassword" class="col-lg-3 col-4 col-form-label">새 비밀번호</label>
                    <div class="col">
                        <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" required minlength="8" maxlength="20">
                        <small class="row form-text text-danger invalid-feedback ml-0">
                            길이가 8에서 20 사이여야 합니다
                        </small>
                        <small class="row form-text text-danger ml-0" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                            newPassword Error
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPasswordConfirm" class="col-lg-3 col-4 col-form-label">패쓰워드 확인</label>
                    <div class="col">
                        <input type="password" class="form-control" id="newPasswordConfirm" th:field="*{newPasswordConfirm}" required minlength="8" maxlength="20">
                        <small class="row form-text text-danger invalid-feedback ml-0">
                            길이가 8에서 20 사이여야 합니다
                        </small>
                        <small class="row form-text text-danger ml-0" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}">
                            newPasswordConfirm Error
                        </small>
                    </div>
                </div>
                <button class="ml-auto col-3 btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">수정하기</button>
            </form>
        </div>
    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: basic-script"></th:block>
<th:block th:replace="fragments.html :: ajax-csrf-header"></th:block>
<th:block th:replace="fragments.html :: form-validation"></th:block>
</body>
</html>
