<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<section>
    <div class="container">
        <div th:replace="fragments.html :: profile-header"></div>
        <nav th:replace="fragments.html :: setting-menu(currentMenu = 'profile')"></nav>
        <div th:replace="fragments.html :: message"></div>
        <div class="row justify-content-center mt-3">
            <form class="form col-md-8 col-12 needs-validation" id="profile-form" action="#" onsubmit="return validateForm()" th:action="@{/setting/profile}" th:object="${profileForm}" method="post" enctype="multipart/form-data" novalidate>
                <div class="form-group row">
                    <label class="col-lg-2 col-2 col-form-label">이메일</label>
                    <div class="col">
                        <div class="row">
                            <p class="text-justify my-2" th:text="${account.email}">mojji@email.com</p>
                            <p class="text-justify my-2 text-muted" th:if="!${account.isEmailVerified()}">(이메일 인증 전입니다. 받은 메세지함을 확인해주세요)</p>
                        </div>
                        <small class="row form-text text-muted">
                            가입에 사용한 이메일은 수정할 수 없습니다.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nickname" class="col-form-label col-2">닉네임</label>
                    <div class="col">
                        <div class="row">
                            <p style="display:none;" id="origin-nickname" th:text="${#authorization.getAuthentication().getPrincipal().getAccount().getNickname()}">원래 닉네임</p>
                            <input type="text" class="col form-control" id="nickname" th:field="*{nickname}" required minlength="2" maxlength="8">
                            <div class="ml-2 col-3 custom-control custom-checkbox" id="nickname-check-div">
                                <input type="checkbox" class="custom-control-input" id="customCheck" th:field="*{nicknameConfirm}">
                                <label class="custom-control-label" for="customCheck">중복체크</label>
                            </div>
                        </div>
                        <small class="row form-text text-muted">
                            닉네임은 2글자에서 8글자 사이로 설정 가능합니다.
                        </small>
                        <small id="txt-nickname-check" class="row form-text text-danger" style="display: none;">
                            중복되는 닉네임이 있는지 확인해주세요.
                        </small>
                        <small id="txt-nickname-safe" class="row form-text text-primary" style="display: none;">
                            사용 가능한 닉네임입니다.
                        </small>
                        <small class="row form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">
                            Nickname Error
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">프로필 사진</label>
                    <div class="col">
                        <div class="row custom-file">
                            <input type="file" class="col custom-file-input" id="customFile" accept="image/*">
                            <label class="custom-file-label" for="customFile"></label>
                        </div>
                        <small class="row form-text text-muted">
                            프로필 사진은 2MB 이하의 이미지만 사용 가능합니다.
                        </small>
                        <small id="profile-image-client-msg" class="row form-text text-danger" style="display: none;">
                            message
                        </small>
                        <small class="row form-text text-danger" th:if="${#fields.hasErrors('profileImage')}" th:errors="*{profileImage}">
                            profileImage Error
                        </small>
                        <img id="preview" class="my-2 row" src="" width="150" alt="프로필 사진" style="display: none;">
                    </div>
                    <input id="profileImage" type="hidden" th:field="*{profileImage}" class="form-control"/>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        알림
                    </div>
                    <div class="col">
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" th:field="*{notiByWeb}" class="custom-control-input" id="notiByWeb">
                            <label class="custom-control-label" for="notiByWeb">웹으로 받기</label>
                        </div>
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" th:field="*{notiByEmail}" class="custom-control-input" id="notiByEmail">
                            <label class="custom-control-label" for="notiByEmail">이메일로 받기</label>
                        </div>
                    </div>
                </div>
                <button class="ml-auto col-3 btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">수정하기</button>
            </form>
        </div>
    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: basic-script"></th:block>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script th:replace="fragments.html :: form-validation"></script>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        var reg = /(.*?)\.(jpg|jpeg|png|gif|bmp)$/;
        if(fileName.match(reg)) {
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        }
    });
</script>
<script>
    var origin_nickname = $("#origin-nickname");
    var nickname = $('#nickname');
    var nickname_alert  = $('#txt-nickname-check');
    var safe = $('#txt-nickname-safe');
    var nickname_check = $('#customCheck');

    if(nickname.val() == origin_nickname.text()) {
        nickname_check.prop("checked", false);
    }

    nickname.on("change keyup paste", function() {
        // 중복확인 사용 가능, 체크 해제
        nickname_check.prop("checked", false);
        safe.hide();

        // 만약 빈칸이었다면
        if($.trim(nickname.val()) == '') {
            nickname_alert.text("닉네임은 빈칸으로 설정할 수 없습니다");
            nickname_alert.show();
        }
        // 2글자 미만이라면
        else if(nickname.val().length < 2) {
            nickname_alert.text("닉네임은 최소 2글자는 되어야 합니다");
            nickname_alert.show();
        }
        // 기존 닉네임과 다르다면
        else if(nickname.val() != origin_nickname.text()) {
            nickname_alert.text("중복되는 닉네임이 있는지 확인해주세요.");
            nickname_alert.show();
        }
        // 위에 해당사항 없다면
        else {
            nickname_alert.hide();
        }
    });

    nickname_check.click(function(){
        $.ajax({
            url : "/setting/profile/idcheck",
            type : "get",
            data : "nickname=" + nickname.val(),
            success : function(data) {
                if(data == 1) {
                    nickname_alert.text("중복되는 닉네임이 있습니다. 다른 닉네임을 사용해주세요.")
                } else {
                    nickname_alert.hide();
                    safe.show();
                }
            }
        });
    });
</script>
<script> // 프로필 이미지 지정하기
    var file = document.querySelector('#customFile');
    var image_alert  = $('#profile-image-client-msg');

    file.onchange = function () {
        var fileList = file.files;

        var reg = /(.*?)\.(jpg|jpeg|png|gif|bmp)$/;
        var isImageFile = fileList[0].name.match(reg);

        if (isImageFile) {
            // 읽기
            var reader = new FileReader();
            reader.readAsDataURL(fileList[0]);

            //로드 한 후
            reader.onload = function () {
                //썸네일 이미지 생성
                var tempImage = new Image(); // drawImage 메서드에 넣기 위해 이미지 객체화
                tempImage.src = reader.result; //data-uri를 이미지 객체에 주입
                tempImage.onload = function () {
                    //리사이즈를 위해 캔버스 객체 생성
                    var canvas = document.createElement('canvas');
                    var canvasContext = canvas.getContext("2d");

                    //캔버스 크기 설정
                    canvas.width = 150; //가로 100px
                    canvas.height = 150; //세로 100px

                    //이미지를 캔버스에 그리기
                    canvasContext.drawImage(this, 0, 0, 150, 150);

                    //캔버스에 그린 이미지를 다시 data-uri 형태로 변환
                    var dataURI = canvas.toDataURL("image/jpeg");

                    //썸네일 이미지 보여주기
                    // img_preview.src = dataURI;
                    $('#preview').show();
                    document.querySelector('#preview').src = dataURI;
                    $('#profileImage').val(dataURI);

                    // 경고 메세지가 보이는 중이었다면 숨기기
                    image_alert .hide();
                };
            };
        } else {
            $('#preview').hide();
            file.files[0] = undefined;
            image_alert.text("프로필 사진은 이미지 파일(jpg, jpeg, png, gif, bmp) 만 사용 가능합니다.");
            image_alert.show();
        }
    }
</script>
<script>
    function validateForm() {
        // 중복확인을 안 했는데 기존 닉네임과 다르다면
        if(!nickname_check.prop("checked") && nickname.val() != origin_nickname.text()) {
            alert("닉네임 중복확인이 필요합니다.");
            return false;
        }
    }
</script>
</body>
</html>
