<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body id="page-top">
<nav th:replace="fragments.html :: main-nav"></nav>
<section>
    <div class="container">
        <div th:replace="fragments.html :: profile-header"></div>
        <nav th:replace="fragments.html :: setting-menu(currentMenu = 'profile')"></nav>
        <div class="row justify-content-center mt-3">
            <form class="form col-md-8 col-12">
                <div class="form-group row">
                    <label for="staticEmail" class="col-lg-2 col-2 col-form-label">이메일</label>
                    <div class="col">
                        <div class="row">
                            <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
                        </div>
                        <small class="row form-text text-primary">
                            Password is required
                        </small>
                        <small class="row form-text text-danger">
                            Nickname Error
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nickname" class="col-form-label col-2">닉네임</label>
                    <div class="col">
                        <div class="row">
                            <input type="text" class="col form-control" id="nickname">
                            <button class="btn btn-link col-1"><i class="fa fa-check text-success" aria-hidden="true"></i></button>
                            <button class="btn btn-success col-1"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </div>
                        <small class="row form-text text-primary">
                            Password is required
                        </small>
                        <small class="row form-text text-danger">
                            Nickname Error
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">프로필 사진</label>
                    <div class="col">
                        <div class="row custom-file">
                            <input type="file" class="col custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <small class="row form-text text-primary">
                            Password is required
                        </small>
                        <small class="row form-text text-danger">
                            Nickname Error
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        알림
                    </div>
                    <div class="col">
                        <div class="custom-control custom-switch custom-control-inline">
<!--                            <input type="checkbox" th:field="*{studyCreatedByEmail}" class="custom-control-input" id="studyCreatedByEmail">-->
                            <input type="checkbox" class="custom-control-input" id="studyCreatedByEmail">
                            <label class="custom-control-label" for="studyCreatedByEmail">이메일로 받기</label>
                        </div>
                        <div class="custom-control custom-switch custom-control-inline">
<!--                            <input type="checkbox" th:field="*{studyCreatedByWeb}" class="custom-control-input" id="studyCreatedByWeb">-->
                            <input type="checkbox" class="custom-control-input" id="studyCreatedByWeb">
                            <label class="custom-control-label" for="studyCreatedByWeb">웹으로 받기</label>
                        </div>
                    </div>
                </div>
                <button class="ml-auto col-3 btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">수정하기</button>
            </form>
        </div>
    </div>
</section>
<div th:replace="fragments.html :: normal-footer"></div>
<div th:replace="fragments.html :: normal-script"></div>
<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>
<script>
    $(".idCheck").click(function(){

        var query = {userId : $("#userId").val()};

        $.ajax({
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url : "/idCheck",
            type : "post",
            data : query,
            success : function(data) {
                if(data == 1) {
                    $(".result .msg").text("사용 불가");
                    $(".result .msg").attr("style", "color:#f00");
                } else {
                    $(".result .msg").text("사용 가능");
                    $(".result .msg").attr("style", "color:#00f");
                }
            }
        });  // ajax 끝
    });
</script>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>
