<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
</head>
<body id="page-top">
<nav th:replace="fragments.html :: main-nav"></nav>
<section>
    <div class="container">
        <div th:replace="fragments.html :: profile-header"></div>
        <nav th:replace="fragments.html :: setting-menu(currentMenu = 'quit')"></nav>
        <div class="row justify-content-center mt-3">
            <form class="form col-md-8 col-12 needs-validation" th:action="@{/setting/quit}" method="post" th:object="${quitForm}" onsubmit="return validateForm()" novalidate>
                <div>
                    <p><strong>탈퇴 후 회원정보가 모두 삭제됩니다.</strong><br>메일주소, 핸드폰 번호/기타 연락처 등 회원정보가 모두 삭제되며, 삭제된 데이터는 복구되지 않습니다. <br></p>
                    <p><strong>탈퇴 후에도 작성된  게시글은 그대로 남아 있습니다.</strong><br> 각 게시판에 등록한 게시물 및 댓글은 탈퇴 후에도 남아있습니다. 삭제를 원하시는 게시물은 탈퇴 전 반드시 삭제하시기 바랍니다. (탈퇴 후에는 게시글 임의 삭제 요청을 받지 않습니다.)</p>
                </div>
                <div class="text-center custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="notiConfirm" th:field="*{notiConfirm}">
                    <label class="custom-control-label" for="notiConfirm">동의합니다</label>
                </div>
                <hr>
                <div class="form-group row">
                    <label for="userPassword" class="col-2 col-form-label">기존 비밀번호</label>
                    <div class="col">
                        <input type="password" class="form-control" id="userPassword" th:field="*{password}" required>
                        <small class="row form-text text-danger invalid-feedback ml-0">
                            기존 비밀번호를 입력해주세요.
                        </small>
                        <small class="row form-text text-danger ml-0" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            password Error
                        </small>
                    </div>
                </div>
                <button class="ml-auto col-3 btn btn-danger btn-block" type="submit" aria-describedby="submitHelp">탈퇴하기</button>
            </form>
        </div>
    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>
<div th:replace="fragments.html :: basic-script"></div>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script th:replace="fragments.html :: form-validation"></script>
<script>
    function validateForm() {
        if(!$('#notiConfirm').prop("checked")) {
            alert("탈퇴 동의에 체크해주세요.");
            return false;
        }
    }
</script>
</body>
</html>
