<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
    <th:block th:include="fragments.html :: summernote-head"></th:block>
    <th:block th:include="fragments.html :: jquery-multifile-head"></th:block>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<section class="container">
    <div class="py-5 text-center">
        <h2>판매글 작성</h2>
    </div>
    <div class="row justify-content-center mt-3">
        <form class="form col-md-8 col-12 needs-validation needs-validation " th:action="@{/new-post}" th:object="${form}" method="post" novalidate>
            <div class="form-group row justify-content-center">
                <select class="form-control col-2" id="sel1" name="sellist1">
                    <option>선택</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <div class="col-10">
                    <input type="text" class="form-control" id="title" placeholder="제목을 입력해주세요." th:field="*{title}" aria-describedby="titleHelp" required minlength="2" maxlength="50">
                    <small id="titleHelp" class="form-text text-muted">
                        공백없이 문자, 숫자, 대시(-)와 언더바(_)만 2자 이상 50자 이하로 입력해주세요.
                    </small>
                    <small class="invalid-feedback">제목을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</small>
                </div>
            </div>
            <div class="row">
                <textarea class="form-control" id="summernote" th:field="*{body}" aria-describedby="bodyHelp" required></textarea>
                <small id="bodyHelp" class="form-text text-muted">
                    사진과 함께 할 게시물의 내용을 입력해주세요.
                </small>
                <small class="invalid-feedback">내용을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">body Error</small>
            </div>
            <div class="row justify-content-center my-3">
                <div class="custom-file">
                    <input multiple="multiple" type="file" class="col custom-file-input with-preview" id="customFile">
                    <label class="custom-file-label" for="customFile"></label>
                </div>
            </div>
            <div id="file-list">
            </div>
            <div class="row my-2">
                <button class="ml-auto col-3 btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">작성</button>
            </div>
        </form>
    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: basic-script"></th:block>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script th:replace="fragments.html :: form-validation"></script>
<th:block th:replace="fragments.html :: summernote-script"></th:block>
<script>
    $(function(){ // wait for page to load

        // this is your selector
        $('#customFile').MultiFile({
            // your options go here
            max: 5,
            accept: 'jpg|jpeg|png|gif|bmp',
            STRING: {
                remove:'x',
                denied:'$ext 확장자는 사용할 수 없습니다. 이미지 파일을 선택해주세요.'
            },
            list: '#file-list',
            afterFileRemove: function(element, value, master_element) {
                if($('.custom-file-label').text() == value) {
                    $('.custom-file-label').text('');
                }
            },
            afterFileAppend: function(element, value, master_element) {
                $('.custom-file-label').text(value);
            },
        });
    });
</script>
</body>
</html>
