<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
    <th:block th:include="fragments.html :: summernote-head"></th:block>
    <th:block th:include="fragments.html :: jquery-multifile-head"></th:block>
    <th:block th:include="fragments.html :: tagify-head"></th:block>
    <style th:include="fragments.html :: no-validate-css"></style>
    <style th:include="fragments.html :: tagify-text-input-suggestion-css"></style>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<section class="container">
    <div class="py-5 text-center">
        <h2>판매글 작성</h2>
    </div>
    <div class="row justify-content-center mt-3">
        <form id="postUploadForm" enctype="multipart/form-data" class="form col-md-9 col-12 needs-validation needs-validation" th:action="@{/new-post}" th:object="${form}" method="post" onsubmit="return checkFormData()" novalidate>
            <div class="form-group row justify-content-center mx-0">
                <select class="form-control col-3 no-validate" th:field="*{category}">
                    <option th:if="${selectList}" th:each="option : ${selectList}" th:value="${option}" th:text="${option}"></option>
                </select>
                <div class="col-9">
                    <input type="text" class="form-control" id="title" placeholder="제목을 입력해주세요." th:field="*{title}" aria-describedby="titleHelp" required minlength="2" maxlength="50">
                    <small id="titleHelp" class="form-text text-muted">
                        공백없이 문자, 숫자, 대시(-)와 언더바(_)만 2자 이상 50자 이하로 입력해주세요.
                    </small>
                    <small class="invalid-feedback">제목을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</small>
                </div>
            </div>
            <div class="input-group">
                <input type="number" class="form-control" placeholder="희망하시는 거래 금액을 입력하세요" th:field="*{price}" required>
                <div class="input-group-append">
                    <span class="input-group-text">₩</span>
                </div>
                <small class="invalid-feedback">금액을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">title Error</small>
            </div>
            <div class="form-group mt-3">
                <div id="whitelist" th:text="${whitelist}" hidden></div>
                <input name='input-custom-dropdown' class='some_class_name' placeholder='거래할 장소를 검색하세요' aria-describedby="stationHelp">
                <small id="stationHelp" class="form-text text-muted">
                    거래하고 싶은 장소를 입력하세요. 택배거래를 하고 싶거나 특정한 장소를 원하지 않는다면 비워두셔도 됩니다.
                </small>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" id="summernote" th:field="*{body}" aria-describedby="bodyHelp" required></textarea>
                <small class="invalid-feedback">내용을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">body Error</small>
            </div>
            <div class="form-group mt-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input with-preview" id="customFile" th:field="*{images}" accept="image/*"     multiple>
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <small id="fileHelp" class="form-text text-muted">
                        2MB 크기 이하의 이미지 파일을 선택해주세요.
                    </small>
                </div>
                <div id="file-list">
                </div>
            </div>
            <div class="row mt-3">
                <button class="ml-auto col-3 btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">작성</button>
            </div>
        </form>
    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>

<th:block th:replace="fragments.html :: basic-script"></th:block>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script th:replace="fragments.html :: form-validation"></script>
<th:block th:replace="fragments.html :: summernote-script"></th:block>
<script th:fragment="jquery-multifile-script" type="application/javascript">
$(function() { // wait for page to load

    // this is your selector
    $('#customFile').MultiFile({
        max: 5, //업로드 최대 파일 갯수 (지정하지 않으면 무한대)
        accept: 'jpg|png|gif|bmp|jpeg', //허용할 확장자(지정하지 않으면 모든 확장자 허용)
        maxfile: 2048, //각 파일 최대 업로드 크기
        maxsize: 2048*5,  //전체 파일 최대 업로드 크기
        STRING: { //Multi-lingual support : 메시지 수정 가능
            remove : "x", //추가한 파일 제거 문구, 이미태그를 사용하면 이미지사용가능
            duplicate : "$file 은 이미 선택된 파일입니다.",
            denied : "$ext 는(은) 업로드 할수 없는 파일확장자입니다.",
            selected:'$file 을 선택했습니다.',
            toomuch: "업로드할 수 있는 최대크기를 초과하였습니다.($size)",
            toomany: "업로드할 수 있는 최대 갯수는 $max개 입니다.",
            toobig: "$file 은 크기가 매우 큽니다. (max $size)"
        },
        list:"#file-list" //파일목록을 출력할 요소 지정가능
    });

});
</script>
<script type="application/javascript">
    function checkFormData() {
        // 카테고리가 선택되지 않았으면 선택하라는 alert 띄우기
        if($('select').val() == "선택") {
            alert("카테고리를 선택해주세요.");
            return false;
        }
    }
</script>
<script>
    var input = document.querySelector('input[name="input-custom-dropdown"]'),
        // init Tagify script on the above inputs
        tagify = new Tagify(input, {
            enforceWhitelist: true,
            whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
            maxTags: 10,
            dropdown: {
                maxItems: 20,           // <- mixumum allowed rendered suggestions
                classname: "tags-look", // <- custom classname for this dropdown, so it could be targeted
                enabled: 0,             // <- show suggestions on focus
                closeOnSelect: false    // <- do not hide the suggestions dropdown once an item has been selected
            }
        });

    tagify.on("add", resetHiddenTagInput);
    tagify.on("remove", resetHiddenTagInput);

    function resetHiddenTagInput() {
        $('.hidden-station').remove();
        tagify.value.forEach(function(element){
            let ele = '<input class="hidden-station" type="hidden" name="stations" value="' + element.value + '">';
            console.debug(ele);
            $('#postUploadForm').append(ele);
        });
    }
</script>
</body>
</html>
