<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
    <style th:include="fragments.html :: post-card-css"></style>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<section class="container">
    <div class="row justify-content-center">
        <th:block th:include="fragments.html :: content-menu(currentMenu='post-list')"></th:block>
        <div class="col-lg-8 col">
            <div class="row">
                <div class="col-4" th:each="post : ${posts.getContent()}">
                    <div th:replace="fragments.html :: post-card"></div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <ul th:replace="fragments.html :: pagination(url = 'posts', page=${posts}, indexCnt=10)"></ul>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: basic-script"></th:block>
</body>
</html>