<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
    <style th:include="fragments.html :: post-card-css"></style>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<section class="container">
    <div class="row justify-content-center">
        <th:block th:include="fragments.html :: post-menu"></th:block>
        <div class="col-lg-8 col">
            <div class="row">
                <div class="col-4" th:each="post : ${posts.getContent()}">
                    <div th:replace="fragments.html :: post-card"></div>
                </div>
            </div>
            <span th:text="${posts.getNumber()}"></span>
            <span th:text="${posts.getNumber()/10}*10"></span>
            <span th:text="${posts.getNumber()/10}*10+9"></span>
            <div class="row justify-content-center mt-3">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${posts.isFirst()}? disabled">
                        <a href="/posts?page=0" class="page-link" tabindex="-1" aria-disabled="true"><<</a>
                    </li>
                    <li class="page-item" th:classappend="${!posts.hasPrevious()}? disabled">
                        <a th:href="@{'/posts?page=' + ${posts.getNumber() - 1}}" class="page-link" tabindex="-1" aria-disabled="true"><</a>
                    </li>
                    <li class="page-item" th:classappend="${i == posts.getNumber()}? active"
                        th:each="i: ${#numbers.sequence((posts.getNumber()/10)*10, (posts.getTotalPages()-1<((posts.getNumber()/10)*10+9)? posts.getTotalPages()-1 : ((posts.getNumber()/10)*10+9)))}">
                        <a th:href="@{'/posts?page=' + ${i}}" class="page-link" href="#" th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!posts.hasNext()}? disabled">
                        <a th:href="@{'/posts?page=' + ${posts.getNumber() + 1}}" class="page-link" tabindex="-1" aria-disabled="true">></a>
                    </li>
                    <li class="page-item" th:classappend="${posts.isLast()}? disabled">
                        <a th:href="@{'/posts?page=' + ${posts.getTotalPages() - 1}}" class="page-link" tabindex="-1" aria-disabled="true">>></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: basic-script"></th:block>
</body>
</html>