<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
    <style th:include="fragments.html :: post-card-css"></style>
</head>
<body>
<nav th:replace="fragments.html :: main-nav(keywords = ${keywords})"></nav>
<section class="container">
    <div class="row justify-content-center">
        <th:block th:include="fragments.html :: content-menu"></th:block>
        <div class="col-lg-8 col">
            <h5 class="row justify-content-center mb-5">
                <th:block th:each="keyword : ${keywords}">
                    <mark th:text="${keyword}">키워드</mark>
                    <th:block th:if="${keywords.get(keywords.size()-1) != keyword}">,&nbsp;</th:block>
                </th:block>
                에 대한 검색결과입니다.
            </h5>
            <div class="text-center" th:if="${posts == null}">검색 결과가 없습니다.</div>
            <div class="row" th:if="${posts != null}" >
                <div class="col-4" th:each="post : ${posts.getContent()}">
                    <div th:replace="fragments.html :: post-card"></div>
                </div>
            </div>
            <div th:if="${posts != null}" class="row justify-content-center mt-3">
                <ul th:replace="fragments.html :: pagination(url = 'posts', page=${posts}, indexCnt=10)"></ul>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: basic-script"></th:block>
</body>
</html>