<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
    <style>
        #myCarousel, .carousel-item>img {
            height: 400px;
        }
        .carousel-item>img {
            width: 100%;
        }
    </style>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<section class="container">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-3">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">Disabled item</a>
                <a href="#" class="list-group-item disabled">Disabled item</a>
                <a href="#" class="list-group-item disabled">Disabled item</a>
            </div>
        </div>
        <div class="col-lg-8 col-9">
            <h3 class="text-center">
                <span class="text-danger" th:text='${"[" + post.category.title + "] "}'></span>
                <span th:text="${post.title}"></span>
            </h3>
            <hr/>
            <div class="d-flex justify-content-end">
                <div class="dropdown">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                        <svg th:if="${#strings.isEmpty(post.account.profileImage)}" th:data-jdenticon-value="${#authentication.name}"
                             width="25" height="25" class="rounded border bg-light"></svg>
                        <img th:if="${!#strings.isEmpty(post.account.profileImage)}" th:src="${account.profileImage}"
                             width="25" height="25" class="rounded border"/>
                        <strong th:text="${post.account.nickname}"></strong>
                    </span>
                    <div class="dropdown-menu mt-2">
                        <a class="dropdown-item" th:href="@{'/account/profile/' + ${post.account.nickname}}">프로필 보기</a>
                        <a class="dropdown-item" href="#">쪽지 보내기</a>
                    </div>
                </div>
            </div>
            <div class="mt-3 row justify-content-center">
                <div th:if="${#sets.isEmpty(post.imgFileNames)}">
                    <img src="/images/no-image-icon.PNG" >
                </div>
                <div th:if="${!#sets.isEmpty(post.imgFileNames)}" id="myCarousel" class="col carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li th:each="num: ${#numbers.sequence(0,#sets.size(post.imgFileNames)-1)}" data-target="#myCarousel" th:data-slide-to="${num}" th:class="${num == 0}? active"></li>
                    </ul>
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div th:each="imgFileName, i: ${post.imgFileNames}" class="carousel-item" th:classappend="${i.index == 0}? active">
                            <img th:src='${"/displayFile?post-id=" + post.getId() + "&fileName=" + imgFileName}' th:alt="${imgFileName}">
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row mt-3">
                <span class="col">
                    🚉 선호하는 위치 :
                    <span class="mr-2" th:each="station: ${post.stations}" data-toggle="tooltip" data-placement="bottom" th:title='${station.region + "-" + station.line}'>
                        <u th:text="${station.name + '역'}"></u>
                    </span>
                </span>
                <span class="col-lg-4 col-md-5 col-6 text-right">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <small th:text="${#temporals.format(post.createdDateTime, 'yyyy-MM-dd')}"></small>
                    ∙ <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                    <small th:text="${post.lookCount}"></small>
                    ∙ <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <small th:text="${post.letterCount}"></small>
                </span>
            </div>
            <div class="row mx-0 mt-3">
                <span>&#128179; 희망가 : <strong th:text="${post.price + '원'}">원</strong></span>
            </div>
            <div class="mt-3" th:utext="${post.body}"></div>
            <hr/>
            <div class="d-flex justify-content-end" th:if="${#authentication.principal != 'anonymousUser' && post.isCreatedBy(#authentication.principal)}">
                <a th:href="@{'/post/' + ${post.id} + '/edit'}" class="btn btn-primary p-2 mr-2">수정</a>
                <a href="#" class="btn btn-danger p-2" data-toggle="modal" data-target="#delete">삭제</a>
            </div>
        </div>
    </div>
</section>

<!--modal-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTitle">게시물 삭제하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>게시물을 삭제하시겠습니까?</p>
                <p><strong>확인</strong> 버튼을 클릭하면 게시물 및 업로드된 이미지들이 삭제됩니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <form th:action="@{'/post/' + ${post.id}}" th:method="delete">
                    <button class="btn btn-danger" type="submit" aria-describedby="submitHelp">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: basic-script"></th:block>
<th:block th:replace="fragments.html :: tooltip-script"></th:block>
<script>
$(document).ready(function() {
    $("#myCarousel").carousel({interval: false, pause: "hover"});
});
</script>
</body>
</html>