<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<section class="container">
    <div class="py-5 text-center">
        <h2>포스트 목록</h2>

    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: basic-script"></th:block>
</body>
</html>
