<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: auth-head"></th:block>
</head>
<body class="my-login-page">
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100 align-items-center">
            <div class="w-50 card-wrapper">
                <div th:replace="fragments.html :: auth-banner"></div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title" th:if="${title != null}" th:text="${title}">Title</h4>
                        <div th:if="${message != null}" th:text="${message}">message</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:replace="fragments.html :: auth-script"></th:block>
</body>
</html>