<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head(mode = 'auth')"></head>
<body class="my-login-page">
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center align-items-center h-100">
            <div class="card-wrapper">
                <div th:replace="fragments.html :: auth-banner"></div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${title}">Title</h4>
                        <div th:if="${error != null}" th:text="${error}">error</div>
                        <div th:if="${message == null}" th:text="${message}">message</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments.html :: auth-script"></div>
</body>
</html>