<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
    <style th:include="fragments.html :: post-card-css"></style>
</head>
<body>
<nav th:replace="fragments.html :: main-nav"></nav>
<section>
    <div class="container">
        <div th:replace="fragments.html :: profile-header"></div>
        <div class="row justify-content-center mt-3">
            <nav class="col-md-8 mt-3">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-selling"
                       role="tab" aria-controls="nav-selling" aria-selected="true">판매중인 물건</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-sold" role="tab"
                       aria-controls="nav-sold" aria-selected="false">판매한 물건</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-review"
                       role="tab" aria-controls="nav-review" aria-selected="false">평가</a>
                </div>
            </nav>
            <div class="col-md-8 mt-3 tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-selling" role="tabpanel"
                     aria-labelledby="nav-selling-tab">
                    <div class="row">
                        <div class="col-4" th:each="post : ${sellingPosts}">
                            <div th:replace="fragments.html :: post-card"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-sold" role="tabpanel" aria-labelledby="nav-sold-tab">
                    <div class="row">
                        <div class="col-4" th:each="post : ${soldPosts}">
                            <div th:replace="fragments.html :: post-card"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                    (계획: 판매 완료 시 판매자는 구매자를 설정할 수 있고 구매자는 판매자를 평가 할 수 있다.)
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: basic-script"></th:block>
</body>
</html>
