<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body id="page-top">
<nav th:replace="fragments.html :: main-nav"></nav>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div th:replace="fragments.html :: profile-header"></div>
            <nav class="col-md-8 mt-3">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-selling"
                       role="tab" aria-controls="nav-selling" aria-selected="true">판매중인 물건</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-sold" role="tab"
                       aria-controls="nav-sold" aria-selected="false">판매한 물건</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-review"
                       role="tab" aria-controls="nav-review" aria-selected="false">평가</a>
                </div>
            </nav>
            <div class="col-md-8 mt-3 tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-selling" role="tabpanel"
                     aria-labelledby="nav-selling-tab">
                    ddd
                </div>
                <div class="tab-pane fade" id="nav-sold" role="tabpanel" aria-labelledby="nav-sold-tab">
                    sss
                </div>
                <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                    fff
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments.html :: normal-footer"></div>
<div th:replace="fragments.html :: normal-script"></div>
</body>
</html>
