<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: auth-head"></th:block>
</head>
<body class="my-login-page">
<div class="container h-100">
    <div class="row justify-content-md-center align-items-center h-100">
        <div class="card-wrapper">
            <div th:replace="fragments.html :: auth-banner"></div>
            <div class="card fat">
                <div class="card-body">
                    <h4 class="card-title">회원탈퇴 완료</h4>
                    <div>
                        모찌 탈퇴가 완료되었습니다. <br>
                        그동안 모찌를 이용해주셔서 감사합니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html :: auth-script"></div>
</body>
</html>