<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mojji</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <link th:if="${mode == null}" rel="stylesheet" type="text/css" href="/css/scrolling-nav.css">
    <link th:if="${mode == 'auth'}" rel="stylesheet" type="text/css" href="/css/my-login.css">
    <style>
        body {
            font-family: 'Nanum Gothic', sans-serif;
        }
    </style>
</head>

<div th:fragment="auth-banner">
    <a href="/" th:href="@{/}">
        <div class="brand">
            <img src="/images/logo.png" alt="bootstrap 4 login page">
        </div>
    </a>
</div>

<div th:fragment="normal-footer">
    <footer class="py-4 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">
                <i class="fa fa-street-view" aria-hidden="true"></i>&nbsp;Gyeonggi-do&nbsp;&nbsp;
                <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;hjeong.you@gmail.com&nbsp;&nbsp;
                </i><i class="fa fa-github" aria-hidden="true"></i>&nbsp;https://github.com/hjyu94
            </p>
        </div>
    </footer>
</div>

<nav th:fragment="main-nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"> <!-- class=" navbar-expand-md > -->
    <style>
        #main-nav-form {
            /* This bit sets up the horizontal layout */
            display:flex;
            flex-direction:row;
            /* I've used padding so you can see the edges of the elements. */
            padding:2px;
        }
        #main-nav-search-input {
            /* Tell the input to use all the available space */
            flex-grow:2;
            /* And hide the input's outline, so the form looks like the outline */
            border:none;
        }
    </style>
    <div class="container">
        <!--Left-->
        <div class="navbar-collapse collapse w-25 order-1 order-md-0 dual-collapse2 row">
            <a class="navbar-brand js-scroll-trigger mx-1" href="/" th:href="@{/}">
                <img src="/images/logo.png" alt="banner img" style="width:auto; max-height:45px;">
            </a>
            <a class="navbar-brand js-scroll-trigger" href="/" th:href="@{/}">
                <h3 style="margin: 0">모찌마켓</h3>
            </a>
        </div>
        <!--Center-->
        <div class="mx-auto order-0 w-50">
            <form id="main-nav-form" class="form-inline" role="form" method="get" th:action="@{/search}">
                <div class="form-group flex-grow-1">
                    <label for="main-nav-search-input" class="sr-only">Email</label>
                    <input type="text" id="main-nav-search-input" placeholder="지역, 상품 등을 검색해보세요." class="form-control" name="keywords"/>
                </div>
                <button type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <!--Right-->
        <div class="navbar-collapse collapse w-25 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <!-- no authenticated user-->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/new-account}">가입</a>
                </li>
                <!-- authenticated user-->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/notifications}">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/letter}">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <svg th:if="${#strings.isEmpty(account?.profileImage)}" th:data-jdenticon-value="${#authentication.name}"
                             width="24" height="24" class="rounded border bg-light"></svg>
                        <img th:if="${!#strings.isEmpty(account?.profileImage)}" th:src="${account.profileImage}"
                             width="24" height="24" class="rounded border"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                        <h6 class="dropdown-header">
                            <span sec:authentication="name">Username</span>
                        </h6>
                        <a class="dropdown-item" th:href="@{'/account/profile/' + ${#authentication.name}}">프로필</a>
                        <a class="dropdown-item" >내가 쓴 글</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{'/setting/profile'}">설정</a>
                        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script th:fragment="tooltip" type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<!--Setting-->
<div th:fragment="setting-title" class="row mb-5">
    <div class="col-sm-12">
        <h3 sec:authentication="name">User name</h3>
    </div>
</div>

<div th:fragment="setting-menu (currentMenu)" class="col-sm-3">
    <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <input type="file" class="text-center center-block file-upload">
    </div>
    <div class="list-group mt-5">
        <a href="#" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" th:href="@{/setting/profile}">Profile</a>
        <a href="#" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" th:href="@{/setting/password}">Password</a>
        <a href="#" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'location'}? active" th:href="@{/setting/location}">Location</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'exit'}? active" th:href="@{/setting/exit}">Exit</a>
    </div>
</div>

<div th:fragment="normal-script">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jquery.easing/jquery.easing.min.js"></script>
    <script src="/js/scrolling-nav.js"></script>
</div>

<div th:fragment="auth-script">
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/my-login.js"></script>
</div>

</html>