<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>모찌마켓</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <link th:if="${mode == null}" rel="stylesheet" type="text/css" href="/css/scrolling-nav.css">
    <link th:if="${mode == 'auth'}" rel="stylesheet" type="text/css" href="/css/my-login.css">
    <style>
        body {
            font-family: 'Nanum Gothic', sans-serif;
        }
    </style>
</head>

<div th:fragment="auth-banner">
    <a href="/" th:href="@{/}">
        <div class="brand">
            <img src="/images/logo.png" alt="banner">
        </div>
    </a>
</div>

<div th:fragment="normal-footer">
    <footer class="page-footer text-white font-small bg-dark pt-4">
        <div class="container text-center text-md-left">
            <div class="row text-center">
                <div class="col-md-4 mb-md-0">
                    <h5 class="text-uppercase"><i class="fa fa-street-view" aria-hidden="true"></i>&nbsp;Location</h5>
                    <p>Anyang-si, Gyeonggi-do</p>
                </div>
                <div class="col-md-4 mb-md-0">
                    <h5 class="text-uppercase"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Email</h5>
                    <p>hjeong.you@gmail.com</p>
                </div>
                <div class="col-md-4 mb-md-0">
                    <h5 class="text-uppercase"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;Github</h5>
                    <p>https://github.com/hjyu94</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<nav th:fragment="main-nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"> <!-- class=" navbar-expand-md > -->
    <style>
        @media screen and (max-width: 992px) {
            #navbar-logo-text { display: none; }
        }
    </style>
    <div class="container">
        <div class="nav navbar-nav pull-sm-left">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Logo" style="height: 30px; width: auto;"></a>
            <a class="navbar-brand" href="/" id="navbar-logo-text">모찌마켓</a>
        </div>
        <div class="nav navbar-nav navbar-logo mx-auto">
            <form class="form-inline" role="form" method="get" action="/search">
                <!--                    <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
                <!--                    <button class="btn btn-success" type="submit">Search</button>-->
                <input class="form-control mr-sm-2 flex-grow-1" type="search" placeholder="지역, 상품 등을 검색해보세요." name="keywords" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="nav navbar-nav pull-sm-right">
            <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <!-- no authenticated user-->
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">로그인</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/new-account}">가입</a>
                    </li>
                    <!-- authenticated user-->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/notifications}">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/letter}">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <svg th:if="${#strings.isEmpty(account?.profileImage)}" th:data-jdenticon-value="${#authentication.name}"
                             width="24" height="24" class="rounded border bg-light"></svg>
                        <img th:if="${!#strings.isEmpty(account?.profileImage)}" th:src="${account.profileImage}"
                             width="24" height="24" class="rounded border"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                        <h6 class="dropdown-header">
                            <span sec:authentication="name">Username</span>
                        </h6>
                        <a class="dropdown-item" th:href="@{'/account/profile/' + ${#authentication.name}}">프로필</a>
                        <a class="dropdown-item" >내가 쓴 글</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{'/setting/profile'}">설정</a>
                        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script th:fragment="tooltip" type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<!--Profile-->
<div th:fragment="profile-header" class="row col-md-8">
    <div class="col-md-3">
        <svg th:if="${#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail mt-4"
             th:data-jdenticon-value="${account.nickname}" width="150" height="150"></svg>
        <img th:if="${!#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail mt-4"
             th:src="${account.profileImage}" width="150" height="150"/>
    </div>
    <div class="col-md-9">
        <h1 class="my-4" th:text="${account.nickname}">nickname</h1>
        <p th:if="${#strings.isEmpty(account.getZonesToString())}">Not yet</p>
        <p th:if="${!#strings.isEmpty(account.getZonesToString())}">zone1, zone2</p>
        <p>전자제품, 맥북, 커피기구</p>
    </div>
</div>

<!--Setting-->
<div th:fragment="setting-title" class="row justify-content-center mb-5">
    <div class="col-sm-12">
        <h1 sec:authentication="name">User name</h1>
    </div>
</div>

<nav th:fragment="setting-menu (currentMenu)" class="col-md-8 mt-3">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" th:classappend="${currentMenu == 'profile'}? active" th:href="@{/setting/profile}">프로필</a>
        <a class="nav-item nav-link" th:classappend="${currentMenu == 'password'}? active" th:href="@{/setting/password}">패스워드 변경</a>
        <a class="nav-item nav-link" th:classappend="${currentMenu == 'location'}? active" th:href="@{/setting/location}">지역 설정</a>
        <a class="nav-item nav-link" th:classappend="${currentMenu == 'quit'}? active" th:href="@{/setting/quit}">탈퇴하기</a>
    </div>
</nav>

<div th:fragment="normal-script">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jquery.easing/jquery.easing.min.js"></script>
    <script src="/js/scrolling-nav.js"></script>
</div>

<div th:fragment="auth-script">
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/popper.js/dist/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/my-login.js"></script>
</div>

</html>