<!DOCTYPE html>
<html lang="en">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body id="page-top">
<div id="register-email-alert" style="margin-bottom: 0px" class="fixed-top row justify-content-center align-self-center alert alert-warning" th:if="${account != null && !account.emailVerified}">
    모찌 가입을 완료하려면&nbsp;<a href="#" th:href="@{/account/confirm-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>
<nav th:replace="fragments.html :: main-nav"></nav>
<main role="main">

    <div class="jumbotron">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 align-self-center text-center">
                    <h4 class="h1 mb-4">편리한 중고 거래</h4>
                    <p class="font-weight-normal">중고거래 시작은 모찌에서!<br/>동네 주민들과 가깝고 따뜻한 거래를 경험해보세요.</p>
                    <div th:if="${account == null}" class="row justify-content-center my-2">
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                              title="회원 가입 후 모찌 서비스를 마음껏 이용하세요">
                            <a class="mx-1 btn btn-primary text-white" th:href="@{/register}">회원 가입</a>
                        </span>
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                              title="로그인 창으로 이동합니다.">
                            <a class="mx-1 btn btn-danger text-white" th:href="@{/new-stock}">로그인</a>
                        </span>
                    </div>
                    <div th:if="${account != null}" class="row justify-content-center my-2">
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom"
                              title="판매를 시작해보세요!">
                            <a class="mx-1 btn btn-primary text-white" th:href="@{/register}">판매글 등록하기</a>
                        </span>
                    </div>
                </div>
                <div class="col-md-5 offset">
                    <div class="view overlay">
                        <img src="/images/shopping.png" style="max-width: 100%; height:auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${account == null}" class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>지역 설정</h2>
                <p>지역을 설정해두면 해당 지역의 중고 물건이 등록될 때 알림을 받으실 수 있습니다.      task-1] o.hibernate.annotations.common.Version   : HCANN000001: Hibernate Commons Annotations {5.1.0.Final}
                    2020-06-22 11:48:09.032  INFO 30316 --- [         task-1] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
                    2020-06-22 11:48:09.265  INFO 3031</p>
            </div>
            <div class="col-md-4">
                <h2>관심 물건 설정</h2>
                <p>관심 물건을 설정해두면 해당 카테고리의 중고 물건이 등록될 때 알림을 받으실 수 있습니다.      task-1] o.hibernate.annotations.common.Version   : HCANN000001: Hibernate Commons Annotations {5.1.0.Final}
                    2020-06-22 11:48:09.032  INFO 30316 --- [         task-1] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
                    2020-06-22 11:48:09.265  INFO 3031</p>
            </div>
            <div class="col-md-4">
                <h2>기능3</h2>
                <p>22  INFO 30316 --- [         task-1] o.hibernate.annotations.common.Version   : HCANN000001: Hibernate Commons Annotations {5.1.0.Final}
                    2020-06-22 11:48:09.032  INFO 30316 --- [         task-1] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
                    2020-06-22 11:48:09.265  INFO 30316 --- [         task-1] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Start completed.
                    2020-06-22</p>
            </div>
        </div>
    </div>

    <div th:if="${account != null}" class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>내가 관심있는 지역</h2>
                <p>...</p>
            </div>
            <div class="col-md-6">
                <h2>내가 관심있는 물건</h2>
                <p>...</p>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments.html :: normal-footer"></div>
<div th:replace="fragments.html :: normal-script"></div>
<script>
    window.onload = function(){
        var ele_nav = $('#mainNav');
        var ele_alert = $('#register-email-alert');
        var ele_main = $('main');
        var bottom_y_nav = parseInt(ele_nav.css("height"));
        var padding_y_alert = parseInt(ele_alert.css("padding-bottom"));
        var bottom_y_alert = bottom_y_nav;

        if (ele_alert.length > 0) {
            bottom_y_alert += parseInt(ele_alert.css("height"));
        }

        ele_alert.css('padding-top', bottom_y_nav + padding_y_alert);
        ele_main.css('padding-top', bottom_y_alert);

        var size_footer = parseInt($('footer').css("height"));
        ele_main.css('padding-bottom', size_footer);
    }
</script>
<script th:replace="fragments.html :: tooltip"></script>
</body>
</html>
