<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments.html :: basic-head"></th:block>
    <th:block th:include="fragments.html :: navbar-head"></th:block>
    <style th:include="fragments.html :: post-card-css"></style>
    <style>
        /* 너비 600px 이상에서 보인다 */
        @media screen and (max-width: 600px) {
            #mojji { display: none; }
        }
    </style>
</head>
<body>
<div id="register-email-alert" style="margin-bottom: 0px" class="fixed-top row justify-content-center align-self-center alert alert-warning" th:if="${account != null && !account.emailVerified}">
    모찌 가입을 완료하려면&nbsp;<a href="#" th:href="@{/account/confirm-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>
<nav th:replace="fragments.html :: main-nav"></nav>
<main role="main my-3">
    <div class="jumbotron px-lg-5">
        <div class="container px-lg-5">
            <div class="row justify-content-center px-lg-5">
                <span data-toggle="tooltip" data-placement="top" title="다 보고 있다~옹 😼!">
                    <img id="mojji" class="float-left image-fluid" src="/images/main.png" style="width: 274px; height: 427px;">
                </span>
                <div class="col align-self-center text-center">
                    <h4 class="h1 mb-4">편리한 중고 거래</h4>
                    <p class="font-weight-normal">
                        중고거래 시작은 모찌마켓에서!<br/>
                        지역과 카테고리를 설정해두면 새 글이 등록될 때 알림을 받으실 수 있습니다.<br/>
                        반응형 웹 페이지로 핸드폰, 태블릿, PC에서 모두 편하게 사용하세요!
                    </p>
                    <div sec:authorize="!isAuthenticated()" class="row justify-content-center my-2">
                        <span data-toggle="tooltip" data-placement="bottom" title="회원 가입 후 모찌 서비스를 마음껏 이용하세요">
                            <a class="mx-1 btn btn-primary text-white" th:href="@{/new-account}">회원 가입</a>
                        </span>
                        <span data-toggle="tooltip" data-placement="bottom" title="로그인 창으로 이동합니다.">
                            <a class="mx-1 btn btn-danger text-white" th:href="@{/login}">로그인</a>
                        </span>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="row justify-content-center my-2">
                        <span data-toggle="tooltip" data-placement="bottom" title="판매를 시작해보세요!">
                            <a class="mx-1 btn btn-primary text-white" th:href="@{/new-post}">판매글 등록하기</a>
                        </span>
                        <span data-toggle="tooltip" data-placement="bottom" title="전체글을 검색합니다.">
                            <a class="mx-1 btn btn-danger text-white" th:href="@{/posts}">전체 글 보기</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div sec:authorize="!isAuthenticated()">
            <h2 class="text-center">최신글</h2>
            <hr class="text-center col-1 my-5 text-success"/>
            <div class="row p-5">
                <th:block th:each="post, i : ${posts}">
                    <div class="col-lg-3 col-md-4 col-6" th:include="fragments.html :: post-card" th:classappend="${i.count >= 9}? 'extra-card'"></div>
                </th:block>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <h2 class="text-center"><a th:href="@{/setting/station}">내 동네</a>에 올라온 글</h2>
            <div class="small text-center" th:text="${account.getStationsString()}"></div>
            <hr/>
            <div class="row py-5">
                <th:block th:each="post, i : ${stationPosts}">
                    <div class="col-lg-3 col-md-4 col-6" th:include="fragments.html :: post-card" th:classappend="${'card-' + i.count}"></div>
                </th:block>
            </div>
        </div>
        <div class="mt-5" sec:authorize="isAuthenticated()">
            <h2 class="text-center"><a th:href="@{/setting/category}">내 관심 카테고리</a>에 올라온 글</h2>
            <div class="small text-center" th:text="${account.getCategoriesString()}"></div>
            <hr/>
            <div class="row py-5">
                <th:block th:each="post, i : ${categoryPosts}">
                    <div class="col-lg-3 col-md-4 col-6" th:include="fragments.html :: post-card" th:classappend="${'card-' + i.count}"></div>
                </th:block>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments.html :: footer"></footer>
<th:block th:replace="fragments.html :: tooltip-script"></th:block>
<th:block th:replace="fragments.html :: basic-script"></th:block>
<script>
    window.onload = function(){
        var ele_nav = $('#mainNav');
        var ele_alert = $('#register-email-alert');
        var ele_main = $('main');
        var bottom_y_nav = parseInt(ele_nav.css("height"));
        var padding_y_alert = parseInt(ele_alert.css("padding-bottom"));
        var bottom_y_alert = bottom_y_nav;

        if (ele_alert.length > 0) {
            bottom_y_alert += parseInt(ele_alert.css("height"));
        }

        ele_alert.css('padding-top', bottom_y_nav + padding_y_alert);
        ele_main.css('padding-top', bottom_y_alert);
    };

    $(window).on("load resize", function(e){
        var width = $(window).width();
        if(width >= 992) { // large
            $('.card-7').show();
            $('.card-8').show();
            $('.card-9').hide();
        } else if(width >= 768) { // medium
            $('.card-7').show();
            $('.card-8').show();
            $('.card-9').show();
        } else {
            $('.card-7').hide();
            $('.card-8').hide();
            $('.card-9').hide();
        }
    });

</script>
</body>
</html>
